:root {
  font-family: "Oxygen", sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  margin: 0px;
  padding: 0px;
}
img {
  user-select: none;
  -webkit-user-drag: none;
  -webkit-tap-highlight-color: none;
  pointer-events: none;
}
input:focus{
  outline: none;
  box-shadow: 0 0 0 3px rgba(155, 184, 247);
}
input[type="checkbox"] {
  cursor: pointer;
  box-shadow: none;
}
.bg-img {
  background-image: url(./assets/bg2.jpg);
  background-repeat: no-repeat;
}

/* @media only screen and (max-width: 1100px) {
  .choices{
    display: grid;
    grid-template-columns: auto auto auto;
  }
} */
